.example-card {
    width: 400px;
    text-align: center;
  }
  .cla {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-grid-tile{
      background-color: aqua;
  }
  
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(0,0,0,.05);
  }