<!-- <div class="container">
    <mat-checkbox
    #showDetails
    [checked] = "isChecked"
    (change) = "onChange($event)"
    >Disabled</mat-checkbox>
    
    <div *ngIf="showDetails.checked">Some details</div>

    <mat-card class="login-box">Simple card</mat-card>

</div> -->
<div class="centered">
    <div class="cla">
        <mat-card class="example-card">
            <mat-card-header style="display: flex;justify-content: center;margin:20px;">
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Sign In</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                <mat-form-field  style="width: 80%;" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email">
                  </mat-form-field>
                  <br>
                  <mat-form-field style="width: 80%;" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions style="text-align: center;width: 100%;">
              <button mat-raised-button color="accent" style="width: 70%;">Sign In</button>
            </mat-card-actions>
          </mat-card>
    </div>

</div>